.logo {
  font-family: Raleway;

  @include font(700, 24px, 1.16, 0.03em);

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19, 0.03em);
  }
  color: $accent-color;
}

.logo-black {
  color: $primary-text-color;
}

.logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-white {
  color: $primary-white-color;
  padding-top: 60px;
}
