.title {
  
  @include font($fw: 700, $fs: 28px, $lh: 1.17, $ls: 0.03em);
  

   @media screen and (min-width: 1200px) {
    @include font($fw: 700, $fs: 36px, $lh: 1.17, $ls: 0.03em);
   }
 
  text-align: center;
}

.section__margin {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
   }
}
