$primary-text-color: #212121;
$second-text-color: #757575;
$third-text-color: rgba(255, 255, 255, 0.6);
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$first-background-color: #2f303a;
$second-background-color: #f5f4fa;
$first-border-color: #ececec;
$second-border-color: #eeeeee;
$clients-section-color: #afb1b8;
$hero-button-hover: #188ce8;
$works-description: rgba(47, 48, 58, 0.8);
$gallery-img-hover: rgba(33, 150, 243, 0.9);
$backdrop-bgcolor: rgba(0, 0, 0, 0.2);
